.char-container {
  background-color: antiquewhite;
  height: fit-content;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
}
