.char-container {
  background-image: linear-gradient(
    to right,
    rgba(250, 235, 215, 0.3),
    rgba(250, 235, 215, 0.76)
  );

  height: fit-content;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 5px;
}
