.home {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  overflow-inline: auto;
  border: 2px solid black;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    rgba(250, 235, 215, 0.1),
    rgba(250, 235, 215, 0.5)
  );
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
