.new-char {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 20px;
  margin: 2px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 18px;
  background-image: linear-gradient(
    to right,
    rgba(250, 235, 215, 0.1),
    rgba(250, 235, 215, 0.5)
  );
}

.new-char button {
  width: 70px;
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
  margin: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.new-char button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    rgba(250, 235, 215, 0.1),
    rgba(27, 165, 22, 0.5)
  );
}

.fieldset {
  margin: 10px;
  display: block;
}

.legend {
  padding: 10px;
  display: block;
}

label {
  font-size: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
}

input {
  height: 30px;
  font-weight: bold;
  padding: 5px;
  display: block;
  margin: 10px;
}
select {
  height: 30px;
  padding: 5px;
  display: block;
  margin: 10px;
}

input:invalid {
  background-image: linear-gradient(
    to right,
    rgba(250, 235, 215, 0.3),
    rgba(250, 235, 215, 0.76)
  );
}

input:valid {
  background-image: linear-gradient(
    to right,
    rgba(250, 235, 215, 0.1),
    rgba(27, 165, 22, 0.5)
  );
}

select:invalid {
  background-image: linear-gradient(
    to right,
    rgba(250, 235, 215, 0.3),
    rgba(250, 235, 215, 0.76)
  );
}

select:valid {
  background-image: linear-gradient(
    to right,
    rgba(250, 235, 215, 0.1),
    rgba(27, 165, 22, 0.5)
  );
}
